/eclipse-mylyn-4c800cb4e89aab31590a96fe961d56464d54383b-incubator-fetched-src.tar.xz
/eclipse-mylyn-R_3_19_0-fetched-src.tar.xz
/eclipse-mylyn-e9e79d9d73ec879d0db2b909014e6e1dce7ab806-incubator-fetched-src.tar.xz
/eclipse-mylyn-e_4_5_m_3_21_x-fetched-src.tar.xz
